<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Intake form</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
          <h1>Intake Form</h1>
          <h3>Your appointment is confirmed. Please fill out intake form now or at the time of your appointment.</h3>
          <div>
          </div>
        </header>
        <form class = "frmIntake" method="POST" name = "frmIntake" id = "frmIntake" onsubmit = "return validate()">
            
            <div  name = "general">
                <h3>General Questions</h3>
                <!--reason for visit-->
                <div class = "reason"> <!--gpt prompt: how to create a checkbox group without bootstrap-->
                    <legend>Reason for visit</legend>
                    <!--Validation: please make sure at least one checkbox is selected, and that reason and where are not blank-->
                    <label><!--this allows responses to be passed as a list. Got it from: https://wastedpotential.com/html-multi-checkbox-set-the-correct-way-to-group-checkboxes/-->
                        <div class = "hstack gap-3"> <!--pink eye horizontal-->
                            <input type = "checkbox" name = "reason" value = "pink eye" class = "reason-symptom" data-bs-toggle="collapse" href="#collapse-onset-date"> Pink eye
                        </div>   
                    </label>
                    <label>
                        <div class = "hstack gap-3">
                            <input type = "checkbox" name = "reason" value = "myopia" class = "reason-symptom" data-bs-toggle="collapse" href="#collapse-onset-date"> Myopia
                        </div>
                    </label>
                    <label>
                        <div class = "hstack gap-3">
                            <input type = "checkbox" name = "reason" value = "dry-eye" class = "reason-symptom" data-bs-toggle="collapse" href="#collapse-onset-date"> Dry eye
                        </div>
                    </label>
                    <label>
                        <div class = "hstack gap-3">
                            <input type = "checkbox" name = "reason" value = "general-eye-checkup" id = "general-eye-checkup" > General eye checkup
                        </div >
                    </label>
                    
                    <div class="collapse" id="collapse-onset-date">
                      <div class = "hstack gap-3" style = "display: inline-block">
                        <div class="dropdown" >
                            <button type = "button" class="btn btn-secondary dropdown-toggle" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                              Severity
                            </button>
                            <!-- </button> -->
                            <ul class="dropdown-menu">
                              <input class="dropdown-item" type = "radio" name = "severity" value = "10245">Urgent
                              <input class="dropdown-item" type = "radio" name = "severity" value = "10246">Serious
                              <input class="dropdown-item" type = "radio" name = "severity" value = "10247">Mild
                              <input class="dropdown-item" type = "radio" name = "severity" value = "10248">None
                              <input class="dropdown-item" type = "radio" name = "severity" value = "10249">Unknown
                            </ul>
                          </div>
                        </div><!--end of hstack div-->
                        <div class = "hstack gap-3">
                          <div class="dropdown">
                            <button type = "button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Affected Eye
                            </button>
                            <!-- </button> -->
                            <ul class="dropdown-menu">
                              <input class="dropdown-item" type = "radio" name = "affected-eye" value = "OD">Right
                              <input class="dropdown-item" type = "radio" name = "affected-eye" value = "OS">Left
                              <input class="dropdown-item" type = "radio" name = "affected-eye" value = "OU">Both
                            </ul>
                          </div>
                              
                        <div class = "hstack gap-3">
                          <input type = "date" name = "onset" class = "date-input">  Start of symptoms (please give an estimate if unsure)
                        </div><!--end of onset date-->
                      </div><!--end of collapse div-->
                  </div>
                </div> <!--end of general questions-->

                <!--eye exam, radio buttons-->
                <fieldset>
                    <legend>Have you had an eye exam in the past 2 years?</legend>
                    <label>
                        <input type = "radio" name = "eye-exam" value = "yes" id = "eye-exam"> Yes
                    </label>
                    <label>
                        <input type = "radio" name = "eye-exam" value = "no" id = "eye-exam"> NO
                    </label>
                    <label>
                        <input type = "radio" name = "eye-exam" value = "never" id = "eye-exam"> I've never had an eye exam
                    </label>
                </fieldset><!--end of eye exam, radio buttons-->

                <fieldset>
                    <legend>Have you had the following eye surgeries?</legend> 
                    <label>
                        <input type = "checkbox" name = "surgeries" value = "cataract" class = "surgery-option" data-bs-toggle="collapse" href="#collapse-surgery-date"> Cataract
                    </label>
                    <label>
                        <input type = "checkbox" name = "surgeries" value = "lasik" class = "surgery-option" data-bs-toggle="collapse" href="#collapse-surgery-date"> LASIK
                    </label>
                    <label>
                        <input type = "checkbox" name = "surgeries" value = "glaucoma" class = "surgery-option" data-bs-toggle="collapse" href="#collapse-surgery-date"> Glaucoma
                    </label>
                    <!--making this a dropdown type thing. Code based on examples in bootstrap documentation-->
                    <label>
                        <input type = "checkbox" name = "surgeries" value = "none" id = "no-surgery"> None
                    </label>
                    <div class="collapse" id="collapse-surgery-date">
                      <input type = "date" name = "latest-surgery-date" id = "latest-surgery-date" class = "date-input">  When was your latest surgery?
                    </div><!--end of onset date-->
                </fieldset>
                <fieldset>
                    <legend>Do you have any known allergies?</legend>
                    <label>
                        <input type = "checkbox" name = "allergies" value = "pollen"> Pollen
                    </label>
                    <label>
                        <input type = "checkbox" name = "allergies" value = "animal-dander"> Animal Dander
                    </label>
                    <label>
                        <input type = "checkbox" name = "allergies" value = "mold"> Mold
                    </label>
                    <label>
                      <input type = "checkbox" name = "allergies" value = "dust-mites"> Dust Mites
                    </label>
                    <label>
                      <input type = "checkbox" name = "allergies" value = "cosmetics"> Cosmetics
                    </label>
                    <label>
                      <input type = "checkbox" name = "allergies" value = "smoke"> Smoke
                    </label>
                    <label>
                        <input name = "allergies"> Other
                    </label>
                </fieldset>
                <!--button>continue</button-->
                   
            </div><!--end of general div-->
            <!--family history portion-->
            <h4>Do you or anyone in your family have the conditions below</h4>
            <div  name = "history">
                
                <fieldset>
                    <legend>Ocular History</legend>
                    <table>
                      <thead>
                        <tr>
                          <th>Self</th>
                          <th>Family</th>
                          <th>Condition</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="checkbox" name="ocular-histr-self" value="cataract"></td>
                          <td><input type="checkbox" name="ocular-histr-fam" value="cataract"></td>
                          <td><label>Cataract</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="ocular-histr-self" value="glaucoma"></td>
                          <td><input type="checkbox" name="ocular-histr-fam" value="glaucoma"></td>
                          <td><label>Glaucoma</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="ocular-histr-self" value="blindness"></td>
                          <td><input type="checkbox" name="ocular-histr-fam" value="blindness"></td>
                          <td><label>Blindness</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="ocular-histr-self" class = "OtherCheckboxOcular" style = "display: none;"></td>
                          <td><input type="checkbox" name="ocular-histr-fam" class = "OtherCheckboxOcular" style = "display: none;"></td>
                          <td><label><input name = "OcularOther" oninput="OtherCheckboxOcular(this.value)">Other</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
            </div> <!--history div-->
            <!--Medical history portion-->
            <h4>Do you or anyone in your family have the conditions below</h4>
            <div  name = "med-history">
                
                <fieldset>
                    <legend>Medical History</legend>
                    <table>
                      <thead>
                        <tr>
                          <th>Self</th>
                          <th>Family</th>
                          <th>Condition</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="checkbox" name="medical-histr-self" value="diabetes"></td> <!--prev medical-histr-self[]-->
                          <td><input type="checkbox" name="medical-histr-fam" value="diabetes"></td>
                          <td><label>Diabetes</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="medical-histr-self" value="hypertension"></td>
                          <td><input type="checkbox" name="medical-histr-fam" value="hypertension"></td>
                          <td><label>Hypertension</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="medical-histr-self" value="auto-immune"></td>
                          <td><input type="checkbox" name="medical-histr-fam" value="auto-immune"></td>
                          <td><label>Auto immune disease</label></td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="medical-histr-self" class = "OtherCheckboxMed" style = "display: none;"></td>
                          <td><input type="checkbox" name="medical-histr-fam" class = "OtherCheckboxMed" style = "display: none;"></td>
                          <td><label><input name = "MedOther" oninput="OtherCheckboxMed(this.value)">Other</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
            </div> <!--medical history div-->

            <!--Lifestyle div-->
            <div name = "lifestyle">
              <fieldset>
                <legend>Select all that apply</legend>
                <label>
                    <input type = "checkbox" name = "lifestyle" value = "alchohol"> Alchohol
                </label>
                <label>
                    <input type = "checkbox" name = "lifestyle" value = "drugs"> Recreational Drugs
                </label>
                <label>
                    <input type = "checkbox" name = "lifestyle" value = "smoke"> Smoking
                </label>
                <label>
                    <input type = "checkbox" name = "lifestyle" value = "none"> None
                    <!--Javascript: please uncheck the others if user clicks none, and vice versa-->
                </label>
              </fieldset><!--End of lifestyle-->

              <!--screentime-->
              <fieldset>
                <legend>Do you have an average screentime of 6 hours or more?</legend>
                <label>
                    <input type = "radio" name = "screentime>6h" value = "yes" id = "screenitme"> Yes
                </label>
                <label>
                    <input type = "radio" name = "screentime>6h" value = "no" id = "screentime"> NO
                </label>
                <label>
                    <input type = "radio" name = "screentime>6h" value = "never" id = "screentime"> Never
                </label>
              </fieldset><!--end of screentime, radio buttons-->

            </div>


            <div><input type="submit" value="Submit" class="btn btn-primary"></div>
            
            <!-- Error message display -->
        </form><!--end of form-->
    </div>

    <!--Javascript code-->
    <!--these videos helped https://www.youtube.com/watch?v=itrkdEJaD-U&list=PLdE8ESr9Th_tQCsbtd-WzpMSg09rPtpjC-->
    <!--https://www.youtube.com/watch?v=In0nB0ABaUk&t=32s-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!--link our local script.js-->
    <script src = "static/script.js">
        // I creates a separate file for the javascript
    </script>
    <!--script for history portion, this is ai code-->
    <script>
      function OtherCheckboxMed(newValue) {
      // Get all checkboxes with the class 'OtherCheckboxMed'
      const checkboxes = document.querySelectorAll('.OtherCheckboxMed');

      // Loop through each checkbox
      checkboxes.forEach(checkbox => {
        checkbox.value = newValue; // Update each checkbox's value
      });

      // Check the input field value and show/hide checkboxes
      const inputField = document.querySelector('[name="MedOther"]'); // Specify the input field
      if (inputField.value.trim() !== "") {
        // If there's text in the input, make the checkboxes visible
        checkboxes.forEach(checkbox => checkbox.style.display = 'inline-block');
      } else {
        // If the input is empty, hide the checkboxes and uncheck them
        checkboxes.forEach(checkbox => {
          checkbox.style.display = 'none';
          checkbox.checked = false; // Uncheck the checkboxes
        });
      }
    }

    function OtherCheckboxOcular(newValue) {
      // Get all checkboxes with the class 'OtherCheckboxMed'
      const checkboxes = document.querySelectorAll('.OtherCheckboxOcular');

      // Loop through each checkbox
      checkboxes.forEach(checkbox => {
        checkbox.value = newValue; // Update each checkbox's value
      });

      // Check the input field value and show/hide checkboxes
      const inputField = document.querySelector('[name="OcularOther"]'); // Specify the input field
      if (inputField.value.trim() !== "") {
        // If there's text in the input, make the checkboxes visible
        checkboxes.forEach(checkbox => checkbox.style.display = 'inline-block');
      } else {
        // If the input is empty, hide the checkboxes and uncheck them
        checkboxes.forEach(checkbox => {
          checkbox.style.display = 'none';
          checkbox.checked = false; // Uncheck the checkboxes
        });
      }
    }

      // function OtherCheckboxMed(newValue) {
      //     // Get all checkboxes with the class 'ocular-histr'
      //     const checkboxes = document.querySelectorAll('.OtherCheckboxMed');
      //     checkboxes.forEach(checkbox => {
      //       checkbox.value = newValue; // Update each checkbox's value           
      //     });
      //   }

        

        // function OtherCheckboxOcular(newValue) {
        //   // Get all checkboxes with the class 'ocular-histr'
        //   const checkboxes = document.querySelectorAll('.OtherCheckboxOcular');
        //   checkboxes.forEach(checkbox => {
        //     checkbox.value = newValue; // Update each checkbox's value
        //   });
        // }
    </script>
    <!--Dynamically setting date max to today, so that they cant pick a future date-->
    <script>
        // Get today's date in YYYY-MM-DD format
        const today = new Date().toISOString().split('T')[0];

        // Select all date inputs with the 'date-input' class
        const dateInputs = document.querySelectorAll('.date-input'); // selects both date inputs

        // Apply the maximum date to all selected date inputs
        dateInputs.forEach(input => {
          input.max = today;
        });
    </script>
    <!--This script sorts out the collapse problem. selecting alternating options would collapes and ancolapse-->
    <script> 
      // document.addEventListener('DOMContentLoaded', function () {
      //   const surgeryOptions = document.querySelectorAll('.surgery-option');
      //   const collapseSurgeryDate = document.getElementById('collapse-surgery-date');
        
      //   // Add event listeners to all surgery checkboxes
      //   surgeryOptions.forEach(option => {
      //     option.addEventListener('change', function () {
      //       const anyChecked = Array.from(surgeryOptions).some(checkbox => checkbox.checked);
            
      //       // If any checkbox is selected, show the collapse; otherwise, hide it
      //       if (anyChecked) {
      //         collapseSurgeryDate.classList.add('show'); // Manually show the collapse
      //       } else {
      //         collapseSurgeryDate.classList.remove('show'); // Manually hide the collapse
      //       }
      //     });
      //   });
      // });
    </script>
</body>
</html>
